html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 14px;
    margin-bottom: 60px;
}

.navbar {
    padding-left: 16px;
}